# PDF の場所
BOOKS_DIR=<your_books_dir>

# SQLite DB の保存先ディレクトリ
DB_DIR=<your_db_dir>

# Web UI の公開ポート
WEB_PORT=8000

# Scrapbox を使う場合のベースURL
# 例: https://scrapbox.io/<your_project_name>
SCRAPBOX_BASE_URL=<your_scrapbox_base_url>
BASE_URL=<your_scrapbox_base_url>
SCRAPBOX_PROJECT_URL=<your_scrapbox_project_url>

# Scrapbox エクスポートJSONの場所
SCRAPBOX_EXPORT_JSON=<your_scrapbox_export_json_path>
