# PDF の場所
BOOKS_DIR=./data/books

# SQLite DB の保存先ディレクトリ
DB_DIR=./data

# Web UI の公開ポート
WEB_PORT=8000

# Scrapbox を使う場合のベースURL
# 例: https://scrapbox.io/<your_project_name>
SCRAPBOX_BASE_URL=
BASE_URL=
SCRAPBOX_PROJECT_URL=

# Scrapbox エクスポートJSONの場所
SCRAPBOX_EXPORT_JSON=
